.cultivation-maintenance {
  margin-top: 20px;
  border: 1px solid rgb(20, 64, 114);
  padding: 2em 1em 1em;
}

.section-label {
  position: absolute;
  background-color: ivory;
  display: block;
  font-size: 12px;
  border: 1px solid grey;
  padding: 3px 10px;
  transform: translateY(-160%);
}

legend {
  display: inline;
}
